<head>
    <body>
        <h2>Learning JavaScript Arrays</h2>

        <script>
            var arr1 = ['eat', 'sleep'];

            document.write(arr1 + "<br>"); /* ADD & Remove elements from the array*/
            arr1.push('exercise');
            document.write(arr1 + "<br>");
            arr1.pop();
            document.write(arr1 + "<br>");
            arr1.unshift('work'); 
            document.write(arr1 + "<br>");
            arr1.shift(); 
            document.write(arr1 + "<br><br>");

            arr1[1] = 'exercise'; /*Change the Elements of an Array*/
            arr1[2] = 'exercise';
            arr1[5] = 'exercise';
            document.write(arr1 + "<br>");

            document.write(arr1.length + "<br>");/*length of an array*/


        </script>
    </body>
</head>